<div class="container sort">
  <div class="row">
    <div class="col-md-6">
      <div class="range">
        <label for="strength" class="form-label">Кількість людей (від 1 мільйону до 1440 мільйонів)</label>
        <input type="range" class="form-range" id="strength" min="0" max="1439" value="1439">
      </div>
    </div>
    <div class="col-md-6">
      <div class="radio">
        <div class="form-check">
          <label class="form-check-label" for="eurasia">Євразія</label>
          <input class="form-check-input" type="radio" name="mainland" id="eurasia" value="eurasia">
        </div>
        <div class="form-check">
          <label class="form-check-label" for="africa">Африка</label>
          <input class="form-check-input" type="radio" name="mainland" id="africa" value="africa">

        </div>
        <div class="form-check">
          <label class="form-check-label" for="namerica">Північна Америка</label>
          <input class="form-check-input" type="radio" name="mainland" id="namerica" value="north_america">

        </div>
        <div class="form-check">
          <label class="form-check-label" for="samerica">Південна Америка</label>
          <input class="form-check-input" type="radio" name="mainland" id="samerica" value="south_america">

        </div>
        <div class="form-check">
          <label class="form-check-label" for="australia">Австралія</label>
          <input class="form-check-input" type="radio" name="mainland" id="australia" value="australia">

        </div>
        <div class="form-check">
          <label class="form-check-label" for="all">Всі</label>
          <input class="form-check-input" type="radio" name="mainland" id="all" value="all" checked>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container item">
</div>